 
  <% @candles.each do |candle| %>
     
   <div class="col s12 m7">
      <div class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= candle.text %></p>
        </div>
        <div class="card-action">
          <%= candle.user.username %>
          </br>
          <%= link_to 'Ver', candle_path(candle) %>
           <%= link_to 'Eliminar', candle_path(candle),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
   <% end %>


