 
  <div class="container">
  <% @candles.each do |candle| %>
     
   <div class="col s12 m7 candle_show">
      <div class="card horizontal">
      <div class="card-image">
        <img height="160px" src="http://i944.photobucket.com/albums/ad286/TiCa_photos/animated_candle.gif">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><%= candle.text %></p>
        </div>
        <div class="card-action">
        <div class="chip">
         <img src="http://materializecss.com/images/yuna.jpg" alt="Contact Person">
        
          <%= link_to candle.user.username,  user_path(candle.user.username) %></a>
          </div>
          </br>
          <div class="candle_right_links right">
          <%= link_to 'Ver', candle_path(candle) %>
           <%= link_to 'Eliminar', candle_path(candle),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
        </div>
      </div>
    </div>
  </div>
   <% end %>
   </div>



