 
  <div class="container">
<h3>Creacion de una nueva vela</h3>
<%= form_for :candle, url: candles_path do |f| %>
  
 
  <p>
    <%= f.label :text%><br>
    <%= f.text_area :text, class:"textarea_new" %>
  </p>
 
  <p>
    <%= f.submit:submit, class:"btn custom_buttom_blue" %>
  </p>
<% end %>
 
  </div>